<div class="ml container-personal-text">
    <h1>About me</h1>
    <span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, nisi vitae! Dolores adipisci repudiandae
        quod placeat est necessitatibus itaque ratione exercitationem explicabo totam iusto delectus molestiae,
        maiores
        sed ipsum! Reprehenderit.
    </span>

    <div class="personal-info">
        <div>
            <img src="assets/img/bulb-icon.svg" alt="">
            <span>
                Some personal Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis autem cumque
                reprehenderit
                exercitationem. Provident architecto quidem omnis, nulla porro ex ea repellat deserunt nam quisquam vel
                aliquam
                necessitatibus veritatis iste.
            </span>
        </div>
        <div>
            <img src="assets/img/puzzle-icon.svg" alt="">
            <span>
                Some personal Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis autem cumque
                reprehenderit
                exercitationem. Provident architecto quidem omnis, nulla porro ex ea repellat deserunt nam quisquam vel
                aliquam
                necessitatibus veritatis iste.
            </span>
        </div>
    </div>

</div>
<div class="container-profile-img2">
    <div class="img-profile">profile pic 2</div>
    <div class="line-profile-img2"></div>
</div>
<img class="bg-color-shape" src="assets/img/shape_behind_prof2.svg" alt="">