<div class="container-bg-color-shape">
    <img class="bg-color-shape" src="assets/img/shape_behind_prof2.svg" alt="">
</div>
<section class="about-me">
    <div id="aboutMe" #aboutMe class="ml container-personal-text">
        <h1>About me</h1>
        <span>
            As an enthusiastic frontend developer, I am constantly fascinated by the latest technical developments and
            attach
            great importance to implementing innovative and appealing web projects.

        </span>

        <div class="personal-info">
            <div>
                <img src="assets/img/bulb-icon.svg" alt="">
                <span>
                    Although I tend to be more reserved by nature, I highly appreciate teamwork. I actively listen and
                    engage in exchanging ideas and solutions with fellow developers, designers, and project managers to
                    achieve remarkable results together.

                </span>
            </div>
            <div>
                <img src="assets/img/puzzle-icon.svg" alt="">
                <span>
                    My technical expertise and attention to detail allow me to find creative solutions and create unique
                    user experiences while consistently achieving the goals I set.
                </span>
            </div>
        </div>

    </div>
    <div class="container-profile-img2 hide-lower-1400 hide-mobile">
        <img [ngClass]="{'blur':isSecondPictureScrolledIntoView}" #secondPicture class="img-profile" src="assets/img/secondPicture.png" alt="">
        <div class="line-profile-img2"></div>
    </div>
</section>