<div class="container-sozial">
    <div class="sozial">
        <div class="style-line style-line-width"></div>
        <div class="reachme-logos">
            <a href="https://github.com/PhilippRandau" target="_blank"><img class="links" src="assets/img/github_logo.svg" alt="view-github"></a>
            <a href="mailto:philipp-randau@web.de"><img class="links" src="assets/img/mail-logo.svg" alt="send-e-mail"></a>
            <a href="https://www.linkedin.com/in/philipp-randau-2655b3240/" target="_blank"><img class="links" src="assets/img/linkedin_logo.svg" alt="view-linkedin"></a>
            <!-- <a style="text-decoration: none; color: white;" href="#">more soon</a> -->
        </div>
        <a class="e-mail hide-mobile" [routerLink]="[ '/' ]" fragment="contact">philipp-randau@web.de</a>
    </div>
</div>
<span class="rotate-text90 scroll-down mr hide-mobile">Scroll down ▼</span>