.contact-headline {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: calc(120px - 74px);
}

.style-line {
    width: 70px;
    height: 0px;
    border: 2px solid #4B47FF;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 70px;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.container-button {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


    button {
        background-color: #1CDAE6;
        padding: 15px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;
        border: none;
        animation: 4s sendMessageAnim ease-in-out;
        animation-iteration-count: infinite;
        &:hover {
            animation: none;
            transition: 125ms ease-in-out;
            background-color: #4B47FF;
            padding: 20px 40px;
        }
    }
}

@keyframes sendMessageAnim {
    0% {
        background-color: #1CDAE6;
    }

    60% {
        background-color: #1CDAE6;
    }

    70% {
        background-color: #4B47FF;
    }

    80% {
        background-color: #1CDAE6;
    }

    90% {
        background-color: #4B47FF;
    }
}


.contact-text {
    max-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
        max-width: 800px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 650px;
    background: none !important;

    input {
        border: 2px solid #4B47FF;
        background-color: transparent;
        border-radius: 10px;
        padding: 15px 30px;
        padding-right: 50px;
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;

        &::placeholder {
            color: white;
        }

        &:hover {
            border-color: #1CE6B6 !important;
        }
    }

    textarea {
        border: 2px solid #4B47FF;
        background-color: transparent;
        border-radius: 10px;
        padding: 15px 30px;
        padding-right: 50px;
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        min-height: 80px;
        max-height: 300px;

        &::placeholder {
            color: white;
        }

        &:hover {
            border-color: #1CE6B6 !important;
        }

        &::-webkit-resizer {
            background: url('./../../assets/img/resizer.svg');
            background-repeat: no-repeat;
        }
    }
}

.d-none {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        color: #E61C40;
    }
}



.ng-valid {
    background: url(./../../assets/img/done.svg);
    background-repeat: no-repeat;
    background-position: 97% 11px;
    border-color: #70E61C !important;
    outline: #70E61C;
}

.ng-invalid {
    background: url(./../../assets/img/error.svg);
    background-repeat: no-repeat;
    background-position: 97% 11px;
    border-color: #E61C40 !important;
    outline: #E61C40;
}

.ng-pristine {
    border-color: #4B47FF !important;
    background: none;
}

.alert {
    color: #E61C40;
}

.input-container {
    input {
        margin-bottom: 5px;
        width: calc(100% - 82px);
    }
}

.textarea-container {
    height: 450px;

    textarea {
        margin-bottom: 5px;
        width: calc(100% - 82px);
        resize: vertical;
    }
}

.back-beginning {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    svg {
        width: 16px;
        border: 2px solid white;
        border-radius: 100%;
        padding: 10px;
        transition: 125ms ease-in-out;
        cursor: pointer;

        &:hover {
            path {
                fill: #1CDAE6;
                transition: 125ms ease-in-out;
            }

            border-color: #1CDAE6;
            transition: 125ms ease-in-out;
        }
    }


}

.wrapper-send-message {
    padding: 20px;
    border-radius: 20px;
    margin-right: 100px;
}

.send-animation {
    background: linear-gradient(90deg, #141D2F, #4b47ff, #141D2F 60%);
    background-size: 1500% 1500%;
    -webkit-animation: send 3s ease-in-out;
    -moz-animation: send 3s ease-in-out;
    -o-animation: send 3s ease-in-out;
    animation: send 3s ease-in-out;
    background-position: 100% 100%;
}

@-webkit-keyframes send {
    0% {
        background-position: 100% 73%;
    }

    50% {
        background-position: 0% 28%
    }

    100% {
        background-position: 100% 73%;
    }
}

@-moz-keyframes send {
    0% {
        background-position: 100% 73%;
    }

    50% {
        background-position: 0% 28%
    }

    100% {
        background-position: 100% 73%;
    }
}

@-o-keyframes send {
    0% {
        background-position: 100% 73%;
    }

    50% {
        background-position: 0% 28%
    }

    100% {
        background-position: 100% 73%;
    }
}

@keyframes send {
    0% {
        background-position: 100% 73%;
    }

    50% {
        background-position: 0% 28%
    }

    100% {
        background-position: 100% 73%;
    }
}

.container-contact-shape-1 {
    position: relative;
    z-index: -1;
}

.contact-shape-1 {
    position: absolute;
    right: 0px;
    width: 300px;
    top: -650px;
}

.container-contact-shape-2 {
    position: relative;
}

.contact-shape-2 {
    position: absolute;
    left: 0px;
    width: 500px;
    bottom: 0px;
}

@media(max-width:1400px) {
    .style-line {
        width: 106px;
    }

    .contact-me {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-text {
        margin: 0px 120px;
        max-width: unset;

        span {
            max-width: unset;
        }
    }

    .wrapper-right {
        width: 100%;
        margin-top: 40px;
    }

    .wrapper-send-message {
        margin-right: unset;
        margin: 0px 100px;
    }

    .contact-input {
        width: unset;
    }

    .contact-headline {
        h1 {
            margin-left: 10px;
        }
    }

    .contact-shape-2 {
        width: 300px;
    }
}

@media(max-width:1000px) {
    .style-line {
        width: 50px;
    }

    .contact-text {
        margin: 0px 60px;
    }

    .wrapper-right {
        width: 100%;
        margin-top: 40px;
    }

.container-button{
    button{
        font-size: 22px;
        padding: 15px 30px;
        &:hover{
            padding: 15px 30px;
        }
    }
}

    .wrapper-send-message {
        margin-right: unset;
        margin: 0px 40px;
    }

    .contact-input {
        width: unset;
    }

    .contact-headline {
        h1 {
            margin-left: 5px;
        }
    }
}

@media(max-width:600px) {
    .contact-shape-1 {
        width: 250px;
    }

    .contact-shape-2 {
        width: 230px;
    }

    .container-button {
        button {
            font-size: 22px;
        }
    }
}

@media(max-width:400px) {
    .style-line {
        width: 16px;
    }

    .contact-text {
        margin: 0px 20px;
    }

    .wrapper-send-message {
        margin: unset;
    }
}