<div #contact id="contact" class="contact-headline">
    <div class="style-line"></div>
    <h1 class="ml">Contact</h1>
</div>

<div class="contact-me">
    <div class="ml contact-text">
        <h3>Got a problem to solve?</h3>
        <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.</span>
        <span>Need a Frontend developer? <b>Contact me!</b> </span>
    </div>

    <div class="wrapper-right">
        <div [ngClass]="{'send-animation': emailSend}" class="wrapper-send-message">
            <form class="contact-input" [formGroup]="myFormValid" (submit)="sendMail();" #myForm>
                <div class="input-container">
                    <input formControlName="name" placeholder="Your name" name="name" #nameField>
                    <div *ngIf="name.invalid && !name.pristine && (name.dirty || name.touched)"
                        class="alert alert-danger">
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <input formControlName="email" placeholder="Your email" name="email" #emailField type="email">
                    <div *ngIf="email.invalid && !email.pristine &&(email.dirty || email.touched)"
                        class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            No valid email address exp@example.com
                        </div>
                    </div>
                </div>
                <div class="textarea-container">
                    <textarea formControlName="message" minlength="10" placeholder="Your message" type="Your message"
                        message="message" cols="30" rows="10" #messageField></textarea>
                    <div *ngIf="message.invalid && !message.pristine && (message.dirty || message.touched)"
                        class="alert alert-danger">
                        <div *ngIf="message.errors?.['required']">
                            Your message is empty.
                        </div>
                        <div *ngIf="message.errors?.['minlength']">
                            Your message must be at least 10 characters long.
                        </div>
                    </div>
                    <div class="container-button">
                        <button [disabled]="myFormValid.invalid" #sendButton>{{sendButtonVal}}</button>
                    </div>
                </div>

            </form>
        </div>
        <a href="#" class="mr back-beginning">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.00002 3.828L2.34302 8.485C1.95255 8.87546 1.31948 8.87546 0.929016 8.485C0.53855 8.09453 0.538551 7.46146 0.929016 7.071L7.29291 0.707106C7.68343 0.316581 8.3166 0.316582 8.70712 0.707106L15.071 7.071C15.4615 7.46147 15.4615 8.09453 15.071 8.485C14.6806 8.87547 14.0475 8.87547 13.657 8.485L9.00002 3.828L9.00002 15C9.00002 15.5523 8.5523 16 8.00002 16C7.44773 16 7.00002 15.5523 7.00002 15L7.00002 3.828Z"
                    fill="white" />
            </svg>

        </a>
    </div>
</div>

<img class="contact-shape" src="assets/img/shape_behind_contact.svg" alt="">