.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    padding: 0px 40px;
}

.style-line-left {
    position: absolute;
    left: calc(50% - 234px - 100px);
    width: 100px;
    height: 0px;
    border: 2px solid #4B47FF;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 70px;
    z-index: -1;
}

.style-line-right {
    position: absolute;
    right: 0;
    left: calc(50% + 234px);
    height: 0px;
    border: 2px solid #4B47FF;
    margin-bottom: 70px;
    z-index: -1;
}


.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-top: 100px;

    &:nth-child(even) {
        flex-direction: row-reverse;

        h2 {
            text-align: right;
        }

        span {
            text-align: right;
        }
    }

    &:nth-child(even) .project-buttons {
        justify-content: flex-end;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.project-skills {
    color: #00BEE8;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-bottom: 20px;
}

.project-buttons {
    height: 55px;
    margin-top: 40px;
    display: flex;
    gap: 100px;

    button {
        padding: 5px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;

        &:hover {
            transition: 125ms ease-in-out;
            background-color: #1CDAE6;
        }
    }
}

.button-live-test {
    background-color: #4B47FF;
    border: none;
}

.button-github {
    background-color: transparent;
    border: 1px solid #1CDAE6;
}

.portfolio-introduction {
    max-width: 1000px;
    text-align: center;
}

.container-portfolio-shape-1 {
    position: relative;
    width: 100%;
}

.portfolio-shape-1 {
    position: absolute;
    top: 300px;
    width: 750px;
    z-index: -1;
}


@media(max-width:1400px) {
    .project {
        width: unset;
    }

    .project {
        margin-right: 120px;
        margin-left: 120px;

        img {
            width: 500px;
        }
    }

    .project-info {
        width: fit-content;
    }

    .project-buttons {
        gap: 50px;
        white-space: nowrap;
    }

    .portfolio-introduction {
        margin-right: 120px;
        margin-left: 120px;
    }

}

@media(max-width:1000px) {
    h2 {
        text-align: center;
    }

    .project {
        margin-right: 60px;
        margin-left: 60px;
    }

    .container-portfolio-shape-1 {
        display: flex;
        justify-content: center;
    }

    .portfolio-shape-1 {
        top: -150px;
        width: 550px;
    }

    .portfolio-introduction {
        margin-left: 60px;
        margin-right: 60px;
        min-height: 200px;
    }

    .project {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: unset;
        flex-direction: column;

        h2 {
            text-align: center;
        }

        span {
            text-align: center;
        }

        &:nth-child(even) {
            flex-direction: column;

            h2 {
                text-align: center;
            }

            span {
                text-align: center;
            }
        }
    }

    .slideInLeft{
        // animation: slideInLAnim 1s ease-in-out !important;
        span{
            color: green;
        }
    }

    .slideInRight{
        // animation: slideInRAnim 1s ease-in-out !important;
        background-color: #00BEE8;
        span{
            color: yellow;
        }
    }

    @keyframes slideInLAnim {
        0%{
            transform: translateX(-100vw);
        }
        100%{
            transform: translateX(0);
        }
    }

    @keyframes slideInRAnim {
        0%{
            transform: translateX(+100vw);
        }
        100%{
            transform: translateX(0);
        }
    }

    .project-info {
        align-items: center;
    }

    .project-buttons {
        justify-content: space-between !important;
        gap: unset;
        width: 400px;
    }

    .style-line-left {
        position: inherit;
        width: 51px;
    }

    .style-line-right {
        left: calc(50% + 130px);
    }

    h1 {
        padding: 0px 5px;
    }

}

@media (max-width:600px) {

    .portfolio-introduction {
        margin-left: 20px;
        margin-right: 20px;
    }

    .project {
        margin-right: unset;
        margin-left: unset;

        img {
            width: 310px;
        }
    }

    .project-info{
        margin-right: 20px;
        margin-left: 20px;
    }

    .project-buttons {
        button {
            font-size: 22px;
            padding: 5px 20px;
        }

        gap: 10px;
        width: unset;
    }


    .portfolio-shape-1 {
        width: 310px;
        top: -20px;
    }
}