<div class="img-profile">profile pic 1</div>

<div class="container">
    <div class="text-introduction">
        <div class="rotate-text270">
            <span class="iam">I am</span>
        </div>
        <div class="container-name-job">
            <span class="name">Philipp Randau</span>
            <span class="job">FRONTEND DEVELOPER</span>
        </div>
    </div>
    <div class="container-button">
        <button [routerLink]="[ '/' ]" fragment="contact">Let's talk!</button>
    </div>
</div>
<img class="bg-color-shape" src="assets/img/shape_behind_prof1.svg" alt="background-color-shape">
<img class="bg-shape hide-mobile" src="assets/img/shape-profile.svg" alt="background-shape">
<img class="bg-shape-mobile hide-big-screen" src="assets/img/shape_mobile.svg" alt="background-shape">
