.introduction {
    display: flex;
    align-items: center;
    height: calc(80vh - 107px);
    margin-top: 107px;
}

.img-profile-container {
    margin-left: 120px;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-profile {
    width: 550px;
    object-fit: contain;
}

.text-introduction {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.rotate-text270 {
    animation-duration: 1s;
    display: flex;
    justify-content: center;

    span {
        text-align: center;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 150px;
}

.container-button {
    height: 55px;

    button {
        background-color: #1CDAE6;
        padding: 15px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;
        border: none;

        &:hover {
            transition: 125ms ease-in-out;
            background-color: #4B47FF;
            padding: 20px 40px;
        }
    }
}

.container-name-job {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.name {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
    animation-duration: 1s;
}

.job {
    color: #4B47FF;
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    animation-duration: 1s;
}

.bg-shape-container {
    position: relative;
}

.bg-shape {
    position: absolute;
    left: 0px;
    right: 0;
    top: 325px;
    z-index: -1;
    width: 100%;
}

.bg-color-shape {
    position: absolute;
    z-index: -2;
    width: 200%;
}

.bg-shape-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 700px;
    z-index: -1;
    width: 100%;
}

@media(min-width:1950px) {
    .bg-shape {
        top: 200px;
    }
}

@media(min-width:2340px) {
    .bg-shape {
        top: 50px;
    }
}

@media(min-width:2850px) {
    .bg-shape {
        top: -100px;
    }
}

@media(min-width:3350px) {
    .bg-shape {
        top: -300px;
    }
}

@media(min-width:4000px) {
    .bg-shape {
        top: -500px;
    }
}

@media(max-width:1800px) {
    .container-name-job {
        margin-left: 20px;
    }

    .name {
        font-size: 72px;
    }

    .job {
        font-size: 36px;
    }

    .rotate-text270 {
        span {
            font-size: 48px;
        }
    }

    .container {
        margin-left: 40px;
    }

    .img-profile {
        width: 450px;
    }
}

@media(max-height: 1200px) and (min-width:1400px) {
    .img-profile {
        width: 350px;
    }

    .bg-shape {
        top: 200px;
    }
}



@media(max-width:1400px) {


    .introduction {
        flex-direction: column;
        gap: 50px;
    }

    .name {
        font-size: 62px;
    }

    .job {
        font-size: 32px;
    }

    .container {
        margin-left: unset;
        margin-bottom: unset;
    }

    .bg-shape {
        display: none;
    }

    .bg-shape-mobile {
        display: block !important;
        top: 430px;
    }

    .img-profile {
        width: 350px;
    }

    .img-profile-container {
        margin-left: unset;
    }

}

@media(max-height: 1100px) and (max-width:1400px) {

    .introduction {
        gap: 10px;
    }

    .bg-shape-mobile{
        top: 360px;
    }

    .img-profile {
        width: 300px;
    }
    
    .name {
        font-size: 44px;
    }

    .job {
        font-size: 26px;
    }

    .rotate-text270{
        span{
            font-size: 32px;
        }
    }

    .container-button{
        button{
            padding: 10px 30px;
            font-size: 20px;
        }
    }

    .text-introduction{
        margin-bottom: 20px;
    }
}

@media(max-width:1000px) {
    .img-profile {
        margin-right: 60px;
        margin-left: 60px;
        width: 300px;
    }

    .img-profile-container {
        margin-left: unset;
    }

    .bg-shape-mobile {
        top: 400px;
    }

    .container-name-job {
        margin-left: 10px;
    }

    .bg-color-shape {
        left: unset;
        height: unset;
        width: 500px;
        top: 0px;
    }

    .name {
        font-size: 44px;
    }

    .job {
        font-size: 28px;
    }

    .rotate-text270 {
        span {
            font-size: 28px;
        }
    }

    .container-button {
        button {
            font-size: 16px;

            &:hover {
                padding: 10px 30px;
            }
        }
    }
}

@media(max-width:600px) {

    .introduction {
        gap: 10px;
    }

    .img-profile {
        margin-right: unset;
        margin-left: unset;
        width: 200px;
        // margin-top: 100px;
    }

    .bg-shape-mobile {
        top: 330px;
    }

    .bg-color-shape {
        width: 310px;
        top: -20px;
    }

    .name {
        font-size: 32px;
    }

    .job {
        font-size: 22px;
    }

    .rotate-text270 {
        span {
            font-size: 24px;
        }
    }

    .text-introduction {
        margin-bottom: 10px;
    }

    .container-button {
        button {
            padding: 10px 30px;
        }

    }
}