.img-profile-container {
    margin-left: 120px;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-profile {
    width: 550px;
    object-fit: contain;
}

.text-introduction {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.rotate-text270 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.iam {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 150px;
}

.container-button {
    height: 55px;

    button {
        background-color: #1CDAE6;
        padding: 15px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;
        border: none;

        &:hover {
            transition: 125ms ease-in-out;
            background-color: #4B47FF;
            padding: 20px 40px;
        }
    }
}

.container-name-job {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.name {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
}

.job {
    color: #4B47FF;
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
}

.bg-shape-container {
    position: relative;
}

.bg-shape {
    position: absolute;
    left: 0px;
    top: -250px;
    z-index: -1;
    width: 100vw;
}

.bg-color-shape {
    position: absolute;
    z-index: -2;
    width: 200%;
}

.bg-shape-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    z-index: -1;
    width: 100%;
}

@media(max-width:1800px) {
    .name {
        font-size: 74px;
    }

    .job {
        font-size: 36px;
    }
}

@media(max-width:1000px) {
    .img-profile {
        margin-right: 60px;
        margin-left: 60px;
        width: 400px;
    }

    .img-profile-container{
        margin-left: unset;
    }

    .container{
        margin-left: unset;
        margin-bottom: unset;
    }

    .container-name-job {
        margin-left: 10px;
    }

    .bg-color-shape {
        left: unset;
        height: unset;
        width: 500px;
        top: 0px;
    }

    .name {
        font-size: 44px;
    }

    .job {
        font-size: 28px;
    }

    .iam {
        font-size: 28px;
    }

    .container-button {
        button {
            font-size: 16px;
        }
    }
}