.skills-icons {
    margin-top: 50px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 140px;
    row-gap: 70px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        span {
            text-align: center;
        }
    }

    img {
        transition: 125ms ease-in-out;

        &:hover {
            transition: 125ms ease-in-out;
            transform: translateY(-10px);
        }

    }
}

.skills-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        max-width: 700px;
        text-align: center;
    }
}

.container-button {
    height: 55px;

    button {
        margin-top: 50px;
        background-color: #1CDAE6;
        padding: 15px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;
        border: none;

        &:hover {
            transition: 125ms ease-in-out;
            background-color: #4B47FF;
            padding: 20px 40px;
        }
    }
}


.style-line {
    width: 70px;
    height: 0px;
    border: 2px solid #4B47FF;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-bottom: 160px;
}

.bg-color-shape {
    position: absolute;
    z-index: -1;
    margin-bottom: -760px;
}

@media(max-width:1000px) {
    .style-line-mobile {
        display: flex;
        align-items: center;

        div {
            position: absolute;
            right: 0;
            width: 70px;
            height: 0px;
            border: 2px solid #4B47FF;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            margin-bottom: 70px;
        }
    }

    .skills-icons {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 120px;
        row-gap: 70px;

        img {
            &:hover {
                transform: translateY(0px);
            }

            width: 56px;
            object-fit: contain;
        }
    }

    .skills-text {
        align-items: flex-end;

        span {
            max-width: 700px;
            text-align: right;
        }
    }

    .container-button {
        margin-top: 100px;
    }

    .bg-color-shape {
        margin-bottom: -650px;
        left: 0;
    }
}