.skills-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skills-icons {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 140px;
    row-gap: 70px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        span {
            text-align: center;
        }
    }

    img {
        transition: 125ms ease-in-out;

        &:hover {
            transition: 125ms ease-in-out;
            transform: translateY(-10px);
        }

    }
}

.skills-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        max-width: 700px;
        text-align: center;
    }
}

.container-button {
    height: 55px;

    button {
        margin-top: 50px;
        background-color: #1CDAE6;
        padding: 15px 30px;
        border-radius: 10px;
        transition: 125ms ease-in-out;
        text-align: center;
        border: none;

        &:hover {
            transition: 125ms ease-in-out;
            background-color: #4B47FF;
            padding: 20px 40px;
        }
    }
}

.style-line {
    display: flex;
    div{
        width: 70px;
        border: 2px solid #4B47FF;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-top: 50px;
        position: absolute;
        right: 0;
    }
}

.container-bg-color-shape{
    position: relative;
}

.bg-color-shape {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -100px;
}

@media(max-width:1800px) {
    .skills-icons {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 120px;
        row-gap: 50px;
    }

    .style-line{
        div{
            margin-top: 40px;
        }
    }
}

@media(max-width:1400px) {
    .skills-icons {
        grid-template-columns: 60px 60px 60px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 100px;
    }

    .skills-text{
        margin-left: 60px;
    }

    .style-line{
        div{
            margin-top: 35px;
        }
    }
}

@media(max-width:1000px) {
    .style-line{
        div{
            margin-top: 25px;
            width: 55px;
        }
    }
    .skills-wrapper{
        flex-direction: column-reverse;
        width: unset;
        align-items: center;
    }

    .skills-text{
        margin-bottom: 50px;
    }

    .skills-icons {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 120px;
        row-gap: 70px;
        margin-left: 60px;

        img {
            &:hover {
                transform: translateY(0px);
            }

            height: 56px;
            width: 56px;
            object-fit: contain;
        }

        div {
            span {
                font-size: 14px;
            }
        }
    }

    .skills-text {
        align-items: flex-end;

        span {
            max-width: 700px;
            text-align: right;
        }
    }

    .container-button {
        margin-top: 100px;

        button {
            font-size: 16px;
        }
    }

    .bg-color-shape{
        top: -400px;
    }

    .container-bg-color-shape{
        width: 100%;
    }
}


@media (max-width:600px) {
    .skills-icons {
        grid-template-columns: 100px 100px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 60px;
        row-gap: 70px;
        margin-left: unset;
        img{
            height: 45px;
        }
    }

    .container-button {
        margin-top: 20px;
        button{
            padding: 10px 30px;
        }
    }

    .skills-text{
        margin-left: 30px;
    }

    .style-line{
        div{
            width: 20px;
        }
        h1{
            padding: 0px 5px;
        }
    }

    .bg-color-shape{
        width: 300px;
    }
}