<div class="ml skills-icons">
    <div *ngFor="let icon of icons; let i = index">
        <img src="assets/img/{{ icon }}" alt="skill_icons">
        <span>{{skills[i]}}</span>
    </div>
</div>
<div class="skills-text">
    <h1>My skills</h1>
    <span>I have grown my frontend developments skills that have allowed me to create different real projects.</span>
    <div class="container-button">
        <button>Get in touch</button>
    </div>
</div>

<div class="style-line"></div>
<img class="bg-color-shape" src="assets/img/shape_behind_myskills.svg" alt="background-color-shape">