<app-header-menu></app-header-menu>
<div class="ml mr imprint-wrapper">
    <h1>Imprint</h1>
    <h2>Information according to § 5 TMG</h2>
    <p>Philipp Randau<br />
        Weiherstraße 39<br />
        78050 Villingen-Schwenningen</p>
    <h2>Contact</h2>
    <p>Phone: 01744565083<br />
        Email: philipp-randau@web.de</p>
    <p>Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>
<img class="imprint-shape" src="assets/img/shape_behind_contact_1.svg" alt="">
<app-footer></app-footer>