.imprint-wrapper{
    margin-top: 130px;
}

.imprint-shape{
    position: absolute;
    right: 0;
    top: 400px;
    z-index: -1;
}


@media (max-width:600px) {
    .imprint-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    a,p,h1,h2,h3{
        text-align: center;
    }
}