<app-header-menu></app-header-menu>
<div class="ml mr data-protection-wrapper">
    <h1>Privacy Policy</h1>
    <p>The controller within the meaning of the data protection laws, in particular the EU General Data Protection
        Regulation (GDPR), is:</p>
    <p>Philipp Randau
        <br>Weiherstraße 39
        <br>78050 Villingen-Schwenningen
        <br>Phone: 01744565083
        <br>Email: philipp-randau@web.de
    </p>
    <h2>Your rights as a data subject</h2>
    <p>You can exercise the following rights at any time using the contact details of our data protection officer
        provided:</p>
    <ul>
        <li>Right of access to your personal data stored by us and their processing (Art. 15 GDPR),</li>
        <li>Right to rectification of inaccurate personal data (Art. 16 GDPR),</li>
        <li>Right to erasure of your personal data stored by us (Art. 17 GDPR),</li>
        <li>Right to restriction of processing if we are not yet allowed to delete your data due to legal obligations
            (Art. 18 GDPR),</li>
        <li>Right to object to the processing of your data by us (Art. 21 GDPR), and</li>
        <li>Right to data portability, provided you have consented to the data processing or have concluded a contract
            with us (Art. 20 GDPR).</li>
    </ul>
    <p>If you have given us your consent, you can revoke it at any time with effect for the future.</p>
    <p>You may at any time lodge a complaint with a supervisory authority, in particular in the Member State of your
        habitual residence or place of employment, or the location where we are established as the responsible party.
    </p>
    <p>A list of supervisory authorities (for the non-public sector) with their addresses can be found at: <a
            href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank"
            rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>
    <p></p>
    <h2>Contact form</h2>
    <h3>Nature and purpose of processing:</h3>
    <p>The data you enter will be stored for the purpose of individual communication with you. For this purpose, it is
        necessary to provide a valid email address and your name. This serves to assign the request and subsequently
        respond to it. The provision of additional data is optional.</p>
    <h3>Legal basis:</h3>
    <p>The processing of data entered into the contact form is based on a legitimate interest (Art. 6(1)(f) GDPR).</p>
    <p>By providing the contact form, we aim to facilitate an uncomplicated means for you to contact us. The information
        you provide will be stored for the purpose of processing the request and for possible follow-up questions.</p>
    <p>If you contact us to inquire about an offer, the processing of the data entered into the contact form will be
        carried out to perform pre-contractual measures (Art. 6(1)(b) GDPR).</p>
    <h3>Recipient:</h3>
    <p>The recipient of the data may be processors.</p>
    <p></p>
    <h3>Retention period:</h3>
    <p>Data will be deleted no later than 6 months after processing the request.</p>
    <p>If a contractual relationship is established, we are subject to the statutory retention periods under the German
        Commercial Code (HGB) and will delete your data after the expiration of these periods.</p>
    <h3>Required provision or mandatory requirement:</h3>
    <p>The provision of your personal data is voluntary. However, we can only process your request if you provide us
        with your name, email address, and the reason for the request.</p>
    <p></p>
    <h2>SSL encryption</h2>
    <p>To ensure the security of your data during transmission, we use state-of-the-art encryption methods (e.g., SSL)
        via HTTPS.</p>
    <p></p>
    <hr>
    <h2>Information on your right to object pursuant to art. 21 GDPR</h2>
    <h3>right to object on a case-by-case basis</h3>
    <p>You have the right to object, on grounds relating to your particular situation, at any time to the processing of
        personal data concerning you which is based on Art. 6(1)(f) GDPR (data processing based on legitimate
        interests); this also applies to profiling based on these provisions within the meaning of Art. 4 No. 4 GDPR.
    </p>
    <p>If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate
        grounds for the processing which override your interests, rights, and freedoms, or for the establishment,
        exercise, or defense of legal claims.</p>
    <h3>Recipient of an objection</h3>
    <p>Philipp Randau
        <br>Weiherstraße 39
        <br>78050 Villingen-Schwenningen
        <br>Phone: 01744565083
        <br>Email: philipp-randau@web.de
    </p>
    <hr>
    <h2>Amendment of our privacy policy</h2>
    <p>We reserve the right to amend this privacy policy to ensure that it complies with current legal requirements or
        to implement changes to our services in the privacy policy, such as the introduction of new services. The new
        privacy policy will apply for your next visit.</p>
    <h2>Questions to the data protection officer</h2>
    <p>If you have any questions regarding data protection, please send us an email or contact the person responsible
        for data protection in our organization directly:</p>
    <p></p>
    <p><em>This privacy policy was created with the assistance of activeMind AG, the experts for <a
                href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                rel="noopener">external data protection officers</a> (Version #2020-09-30).</em></p>
</div>
<img class="data-protection-shape" src="assets/img/shape_behind_prof2.svg" alt="">
<app-footer></app-footer>