header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #141D2F;
    z-index: 2;

    div {
        display: flex;
        justify-content: space-between;
    }
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    a {
        transition: all 125ms ease-in-out;
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        min-width: fit-content;
        text-align: center;
        white-space: nowrap;

        &:hover {
            color: #00BEE8;
        }
    }

    div {
        transition: all 125ms ease-in-out;
        width: 55px;
        display: flex;
        justify-content: space-between;
        border: 2px solid transparent;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.text-center {
    align-items: center;
}

.highlight {
    transition: all 125ms ease-in-out;
    color: #00BEE8 !important;
    div{
        transition: all 125ms ease-in-out;
        border: 2px solid #4B47FF !important;
    }
}

// Mobile menu
.mobile-menu{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #414856;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 107px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.open-burger-menu{
    background: url('./../../assets/img/burger_open.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.close-burger-menu{
    background: url('./../../assets/img/burger_close.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}