header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #141D2F;

    div {
        display: flex;
        justify-content: space-between;
    }
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    a {
        transition: all 125ms ease-in-out;
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        min-width: fit-content;
        text-align: center;
        white-space: nowrap;

        &:hover {
            color: #00BEE8;
        }
    }

    div {
        transition: all 125ms ease-in-out;
        width: 55px;
        display: flex;
        justify-content: space-between;
        border: 2px solid transparent;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.text-center {
    align-items: center;
}

.highlight {
    transition: all 125ms ease-in-out;
    color: #00BEE8 !important;
    div{
        transition: all 125ms ease-in-out;
        border: 2px solid #4B47FF !important;
    }
}