@import 'assets/styles/fonts.scss';
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #141D2F;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  margin-block-start: unset;
  margin-block-end: 70px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #4B47FF;
  font-family: 'Poppins', Arial, Helvetica, sans-serif
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: white;
  margin-block-start: unset;
  margin-block-end: unset;
  font-family: 'Poppins', Arial, Helvetica, sans-serif
}

.ml {
  margin-left: 120px;
}

.mr {
  margin-right: 120px;
}

span,
p,
li,
a {
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif
}

button {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

app-imprint {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-top: 4px #00BEE8 solid;
  background-color: #141D2F;
}

@media(max-width:1800px) {
  h1{
    font-size: 74px;
  }
}

@media(max-width:1400px) {
  h1{
    font-size: 64px;
  }
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none !important;
  }

  h1{
    font-size: 45px;
  }

  .ml {
    margin-left: 60px;
  }

  .mr {
    margin-right: 60px;
  }

  app-footer {
    flex-direction: column;
    height: 450px;
  }
}

@media (min-width: 1000px) {
  .hide-big-screen {
    display: none !important;
  }
}


@media (max-width: 400px) {

  .ml {
    margin-left: 20px;
  }
  
  .mr {
    margin-right: 20px;
  }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #4b47ff #223252;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #223252;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b47ff;
  border-radius: 10px;
  border: 3px none #ffffff;
}