app-introduction{
    display: flex;
    align-items: center;
    height: calc(80vh - 107px);
    margin-top: 107px;
}

app-reach-me{
    display: flex;
    justify-content: space-between;
    height: 20vh;
<<<<<<< HEAD
=======
}

app-about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
>>>>>>> 6af6012f683f739a2e30b8e72a0e022fb7e95e3c
}

app-my-skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
}

app-portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

app-contact{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

<<<<<<< HEAD
=======
app-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-top: 4px #00BEE8 solid;
    margin-top: 100px;
    background-color: #141D2F;
}

>>>>>>> 6af6012f683f739a2e30b8e72a0e022fb7e95e3c
@media (max-width:1000px){
    app-introduction{
        flex-direction: column;
        gap: 50px;
    }

    app-reach-me{
        justify-content: center;
    }

    app-about-me{
        justify-content: center;
    }

    app-my-skills{
        flex-direction: column-reverse;
    }
<<<<<<< HEAD
=======

    app-footer{
        flex-direction: column;
        height: 450px;
    }
>>>>>>> 6af6012f683f739a2e30b8e72a0e022fb7e95e3c
}