app-reach-me {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

app-my-skills {
    display: flex;
    align-items: center;
}

app-portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

app-contact {
    display: flex;
    flex-direction: column;
}



@media (max-width:1000px) {

    app-reach-me {
        justify-content: center;
    }

    app-about-me {
        justify-content: center;
    }

    app-my-skills {
        flex-direction: column-reverse;
    }

   
}

